@model Paho.Models.BaselineConfigurationViewModel

@{
    string labelCatalog = Paho.Controllers.ResourcesM.SgetMessage("msgMenuParametersBaseline", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelCountry = Paho.Controllers.ResourcesM.SgetMessage("msgViewExportarLabelCountry", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelFieldSelect = Paho.Controllers.ResourcesM.SgetMessage("msgViewExportarFieldSelect", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    string labelSendUpdates = Paho.Controllers.ResourcesM.SgetMessage("msgLineasBasalesSendUpdates", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

    string labelAttachment = Paho.Controllers.ResourcesM.SgetMessage("msgTicketAttachment", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string labelAttachmentSize = Paho.Controllers.ResourcesM.SgetMessage("msgTicketAttachmentSize", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    


               //string labelCreate = Paho.Controllers.ResourcesM.SgetMessage("msgViewCatPopulation_Crear", ViewBag.UsrCtry, ViewBag.UsrCtryLang);

}

<!-- ko with: app.Views.Baselineconf -->
    <div class="row" style="margin-bottom:15px; margin-top:1em;">
        <div class='input-group'>
            <span class="input-group-addon">
                <b>@(labelCatalog)</b>
            </span>
        </div>
    </div>

    <!--País:-->
    <div class="row" style="margin-bottom: 15px; margin-top: 1em;">
        <div class="col-md-5">
            <div class='input-group'>
                <span class="input-group-addon">
                    @(labelCountry)
                </span>
                @*<select id="Pais" class="form-control" data-bind="options: countries,
                               optionsText: 'Name',
                               optionsValue: 'Id',
                               value: selectedCountryId,
                               optionsCaption: '@(labelFieldSelect)',
                               event:{ change: ReloadInstitutions},">
                </select>*@
                <select id="Pais" class="form-control" data-bind="options: countries,
                               optionsText: 'Name',
                               optionsValue: 'Id',
                               value: selectedCountryId,
                               optionsCaption: '@(labelFieldSelect)',
                               event: { change: ReloadParameters}">

                </select>
            </div>
        </div>
    </div>

    
    <div class="row" style="margin-bottom:15px; margin-top:1em;">
        <div class="col-md-3">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--Año:-->
                    @*@(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarLabelYear"))*@
                    Año:
                </span>
                <input id="Year" type='text' class="form-control" data-bind="value: Year" />
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--Semana inicio:-->
                    @*@(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarLabelMonth"))*@
                    Semana inicio:
                </span>
                <input id="StartWeek" type='text' class="form-control" data-bind="value: StartWeek" />
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--Total semanas periodo:-->
                    @*@(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarLabelEW"))*@
                    Total semanas periodo
                </span>
                <input id="EndWeek" type='text' class="form-control" data-bind="value: EndWeek" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:15px; margin-top:1em;">
        <div class="col-md-6">
            <div class='input-group'>
                <span class="input-group-addon">
                    <!--Año:-->
                    @*@(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarLabelYear"))*@
                    Titulo:
                </span>
                <input id="Title" type='text' class="form-control" data-bind="value: Title" />
            </div>
        </div>
    </div>

    <div class="col-md-10 fileChooser">
        <div class='input-group'>
            <label for="ticketFile">@(labelAttachment)</label>
            <input class="ticketFileChooser" type="file" id="ticketFile" accept=".xls, .xlsx" />
            <span>@(labelAttachmentSize)</span>
            @*<span id="fileSize1"></span>*@
            <img id="clearButton1" src="~/Content/themes/base/images/CrossSmall.png" onclick="cleanFileElement(1)">
        </div>
    </div>

    <div class="col-md-10">
        <div class="input-group">
            @*<button id="cleanForm" type="button" class="btn btn-primary" onclick="CleanForm()">@(((Paho.Controllers.TicketController)this.ViewContext.Controller).getMsg("msgTicketCleanForm"))</button>*@
            <button id="newTicket" type="button" class="btn btn-primary" data-bind="click: SaveParameters">@(labelSendUpdates)</button>

            @*<img id="attachmentLoader" src="~/Content/themes/base/images/loader-1s-29px.gif" />*@

        </div>
    </div>

   
    <script type="text/javascript">
        countries = @Html.Raw(Json.Encode(Model.Countries));

        var PAHOFLU_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormat", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
        var moment_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatMoment", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
        var ISO_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatISO", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";
        var DatePicker_date_format = "@(Html.Raw(Paho.Controllers.ResourcesM.SgetMessage("msgDateFormatDP", ViewBag.UsrCtry, ViewBag.UsrCtryLang)))";

       /*   Mensajes de alerta de validaciones   */
        @*var msgViewExportarValidateSelectionReport = "@(Html.Raw(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarValidateSelectionReport")))";
        var msgViewExportarLabelReports = "@(Html.Raw(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarLabelReports")))";
        var msgViewExportarValidateSelectionHospital = "@(Html.Raw(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarValidateSelectionHospital")))";
        var msgViewExportarValidateSelectionYear = "@(Html.Raw(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarValidateSelectionYear")))";
        var msgViewExportarValidateSelectionCriteria = "@(Html.Raw(((Paho.Controllers.ExportarController)this.ViewContext.Controller).getMsg("msgViewExportarValidateSelectionCriteria")))";*@

        //***************************************
        $('a#MaintenanceM').addClass("active");
        //***************************************
    </script>

<!-- /ko -->

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BaselineConfigurationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CountryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartWeek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartWeek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndWeek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndWeek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
