@{
    string LabelReceptionDate = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabIntRecDate", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelTemp = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabelTemp", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelProcessed = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabelProcessed", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelYes = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabelYes", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelNo = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabelNo", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelCauseNotProcessed = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabLabelCauseNotProcessed", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelSelect = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigTabCaseLabelSelect", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
    string LabelBarCode = Paho.Controllers.ResourcesM.SgetMessage("msgCaselistVigLabIntLabelSampleIdentifier", ViewBag.UsrCtry, ViewBag.UsrCtryLang);
}

<div class="row rowform" id="Test_1">
    <!-- Laboratorio -->
    <div class="col-md-3_5">
        <div class='input-group'>
            @*<div data-bind="visible: CanModLab()">  *@
            <div data-bind="visible: CanEdit()">
                <select name="DrpProcLab" id="DrpProcLab" class="form-control" data-bind="options:$parent.LabsResult,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value:ProcLab"></select>
            </div>
            <div data-bind="visible: !CanEdit()">
                <label data-bind="text: ProcLabName "></label>
            </div>
        </div>
    </div>
    <!-- Reception Date -->
    <div class="col-md-3_5">
        <div class='input-group'>
            <span class="input-group-addon">
                @LabelReceptionDate
            </span>
            @*<input id="RecDate" type='text' class="form-control " data-bind='enable: CanEdit, datepicker: RecDate , datepickerOptions: { maxDate:"@Model.DatePickerConfig",  dateFormat:"@Model.DateFormatDP"}' />*@
            <input type='text' class="form-control " data-bind='enable: CanEdit, datepicker: RecDate , datepickerOptions: { maxDate:"@Model.DatePickerConfig",  dateFormat:"@Model.DateFormatDP"}' />
        </div>
    </div>
    <!-- Temperature -->
    <div class="col-md-3">
        <div class='input-group'>
            <span class="input-group-addon">
                @LabelTemp
            </span>
            @*<input id="TempSample1" type='text' class="form-control case_letter" data-bind="value: TempSample1" />*@
            <input id="TempSample" type='text' class="form-control case_letter" data-bind="value: TempSample, enable: CanEdit" />
        </div>
    </div>
</div>

<div class="row rowform" id="Test_1">
    <!-- Processed -->
    <div class="col-md-3_5">
        <span>
            @LabelProcessed
        </span>
        <label class="btn btn-default">
            <input type="radio" value="true" data-bind="checked: Processed, enable: CanEdit"> @LabelYes
        </label>
        <label class="btn btn-default">
            <input type="radio" value="false" data-bind="checked: Processed, enable: CanEdit"> @LabelNo
        </label>
    </div>
    <!-- Unprocessed Motive / Description Other -->
    <div class="col-md-5" data-bind="visible:NotShowProcessed">
        <div class='input-group'>
            <span class="input-group-addon">
                @LabelCauseNotProcessed
            </span>
            <select id="NoProRenId" class="form-control" data-bind="enable: CanEdit, options: CSNP,
                            optionsText: 'Name',
                            optionsValue: 'Id',
                            optionsCaption: '@(LabelSelect)...',
                            value: NoProRenId"> 
            </select>
            <input id="NoReason" type='text' class="form-control case_letter" data-bind="value: NoProRen, visible:NotShowProcessedOther, enable: CanEdit" />
        </div>
    </div>    
    <!-- Test Identification -->
    <div class="col-md-5" data-bind="visible: ShowProcessed()">
        <div class='input-group'>
            <span class="input-group-addon">
                @LabelBarCode
            </span>
            @*<input id="Identification_Test" name="Identification_Test" type='text' class="form-control case_letter" data-bind="value: Identification_Test, enable: CanEdit" />*@
            <input id="Identification_Test" type='text' class="form-control case_letter" data-bind="value: Identification_Test, enable: CanEdit" />
        </div>
    </div>
</div>
